<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatterverse</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="wrapper">
        <h1>Chatterverse</h1>
        <form id="room-form" action="/create-room" method="POST">
            <input type="text" placeholder="Enter room name" name="roomName" required>
            <button type="submit">Create</button>
        </form>
        <div id="rooms-list">
            <% rooms.forEach(room => { %>
                <div class="room">
                    <h2><%= room.name %></h2>
                    <p>Users: <%= room.users.length %></p>
                    <form action="/join-room" method="POST">
                        <input type="hidden" value="<%= room.name %>" name="roomName">
                        <button type="submit">Join</button>
                    </form>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>