body {
    margin: 0;
}
#wrapper {
    background-color: hsl(190, 100%, 40%);
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
h1 {
    text-align: center;
    font-size: 2.5em;
}
#room-form {
    align-items: stretch;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
}
#room-form input {
    padding: 7px;
    border-radius: 10px 0 0 10px;
    border-style: solid;
    border-right: none;
    width: 50%;
}
#room-form button {
    cursor: pointer;
    background-color: hsl(0, 0%, 80%);
    padding: 7px;
    border-radius: 0 10px 10px 0;
    border-style: solid;
    border-left: none;
    width: 15%;
}
#room-form button:hover,
#room-form button:focus {
    background-color: hsl(0, 0%, 60%);
}
#rooms-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 100%;
}
.room {
    background-color: hsla(0, 100%, 100%, 0.4);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 80%;
}
.room > * {
    padding: 10px;
}
.room button {
    background-color: hsl(130, 100%, 20%);
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    transition: background-color 200ms ease-in-out;
}
.room button:hover,
.room button:focus {
    background-color: hsl(130, 100%, 10%);
}